* {
  box-sizing: border-box;
  cursor: pointer;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.board {
  display: flex;
  align-self: center;
  z-index: 5000;
  bottom: 0;
  &.on {
    display: flex;
    justify-content: center;
    left: 27%;
    position: fixed;
    z-index: 2000;
    bottom: 0;
  }
}

.slot {
  width: 100px;
  height: 100px;
  overflow: hidden;
  &__hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 40px solid rgb(6, 0, 190);
    box-sizing: content-box;
    transform: translate(-30px, -30px);
  }
}

.player1 {
  background-color: yellow;
}
.player2 {
  background-color: red;
}

.name1,
.name2 {
  margin-left: 65%;
  font-size: 35px;
  color: rgb(6, 97, 12);
}

.name2 {
  margin-left: 20%;
}

.num1,
.num2 {
  position: absolute;
  color: rgb(255, 248, 1);
  margin-top: -130%;
  margin-left: 10%;
  font-size: 150px;
}

.num2 {
  color: red;
  margin-left: 60%;
}

.menu1,
.menu2 {
  z-index: 500;
  position: absolute;
  background-color: rgb(255, 252, 159);
  width: 250px;
  height: 60%;
  top: 30vh;
  max-width: 300px;
  padding-top: 20px;
  overflow: hidden;
  border: 2px solid rgb(6, 97, 12);
}

.menu1 {
  right: 0;
}

.menu2 {
  visibility: hidden;
  left: 0;
}

.menu1.on {
  visibility: hidden;
}

.menu2.on {
  visibility: visible;
}

.clock {
  display: flex;

  width: 300px;
  border: 1px solid black;
  &.on {
    display: none;
  }
}

.game-control {
  position: absolute;
  display: flex;
  top: 0;
}

.time-waisted {
  color: rgb(6, 97, 12);
  justify-content: center;
  font-size: 60px;
}

.time-left {
  color: rgb(6, 97, 12);
  position: fixed;
  font-size: 40px;
}

.restart-btn {
  height: 150px;
  width: 300px;
  font-size: 28px;
  z-index: 8000;
}

.victoryas {
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  visibility: hidden;
  &.on {
    visibility: visible;
    z-index: 1000;
  }
}

.winningMessage {
  font-size: 30px;
  color: rgb(106, 7, 102);
  width: 100%;
  text-align: center;
}
