* {
  box-sizing: border-box;
  cursor: pointer;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-control {
  display: flex;
  height: 150px;
}

.clock {
  display: flex;
  &.on {
    display: none;
  }
}

.time-waisted {
  justify-content: center;
  font-size: 35px;
  width: 150px;
  position: absolute;
  margin-left: 160px;
}

.time-left {
  color: rgb(6, 97, 12);
  font-size: 35px;
  margin-right: 15px;
  width: 300px;
}

.restart-btn {
  padding: 20px;
  font-size: 28px;
  height: 100px;
  background-color: beige;
  border-radius: 5px;
  z-index: 10000;
}

.board {
  display: flex;
  align-self: center;
  z-index: 5000;
  bottom: 0;
  border-right: 6px solid;
  border-left: 6px solid;

  &.on {
    display: flex;
    justify-content: center;
    z-index: 2000;
    bottom: 0;
  }
}

.slot {
  width: 100px;
  height: 100px;
  overflow: hidden;
  &__hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 40px solid rgb(6, 0, 190);
    box-sizing: content-box;
    transform: translate(-30px, -30px);
  }
}

.player1 {
  background-color: yellow;
}
.player2 {
  background-color: red;
}

.player-one-box__name,
.player-two-box__name {
  margin-left: 65%;
  font-size: 35px;
  color: rgb(6, 97, 12);
}

.player-two-box__name {
  margin-left: 20%;
}

.player-one-box__number,
.player-two-box__number {
  position: absolute;
  color: rgb(255, 248, 1);
  margin-top: -130%;
  margin-left: 10%;
  font-size: 150px;
}

.player-two-box__number {
  color: red;
  margin-left: 60%;
}

.player-one-box,
.player-two-box {
  z-index: 500;
  position: absolute;
  background-color: beige;
  width: 250px;
  height: 60%;
  top: 30vh;
  max-width: 300px;
  padding-top: 20px;
  overflow: hidden;
  border: 2px solid rgb(6, 97, 12);
}

.player-one-box {
  right: 0;
}

.player-two-box {
  display: none;
  left: 0;
}

.player-one-box.on {
  display: none;
}

.player-two-box.on {
  display: block;
}

.winningMessage.on {
  display: block;
}

.player-one-box.off,
.player-two-box.off {
  display: none;
}

.winningMessage {
  font-size: 30px;
  color: #6a0766;
  text-align: center;
  position: absolute;
  background-color: beige;
  z-index: 10000;
  bottom: 300px;
  width: auto;
  padding: 15px;
  display: none;
}

footer {
  background-color: rgb(6, 0, 190);
  height: 20px;
  width: 100vw;
}
