* {
  box-sizing: border-box;
  cursor: pointer;
  font-family: sans-serif; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.game-control {
  display: flex;
  height: 150px; }

.clock {
  display: flex; }
  .clock.on {
    display: none; }

.time-waisted {
  justify-content: center;
  font-size: 35px;
  width: 150px;
  position: absolute;
  margin-left: 160px; }

.time-left {
  color: #06610c;
  font-size: 35px;
  margin-right: 15px;
  width: 300px; }

.restart-btn {
  padding: 20px;
  font-size: 28px;
  height: 100px;
  background-color: beige;
  border-radius: 5px;
  z-index: 10000; }

.board {
  display: flex;
  align-self: center;
  z-index: 5000;
  bottom: 0;
  border-right: 6px solid;
  border-left: 6px solid; }
  .board.on {
    display: flex;
    justify-content: center;
    z-index: 2000;
    bottom: 0; }
  .board-column-slot {
    width: 100px;
    height: 100px;
    overflow: hidden; }
    .board-column-slot__hole {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 40px solid #0600be;
      box-sizing: content-box;
      transform: translate(-30px, -30px); }

.player-one-box__number,
.player-two-box__number {
  color: #fff801;
  font-size: 150px; }

.player-two-box__number {
  color: red; }

.player-one-box,
.player-two-box {
  position: absolute;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 400px;
  top: 30vh;
  background-color: beige;
  border: 2px solid #06610c; }
  .player-one-box__name,
  .player-two-box__name {
    font-size: 45px;
    color: #06610c; }
  .player-one-box.off,
  .player-two-box.off {
    display: none; }

.player-one-box {
  right: 0; }
  .player-one-box.on {
    display: none; }

.player-two-box {
  display: none;
  left: 0; }
  .player-two-box.on {
    display: flex; }

.player-one-coin {
  background-color: yellow; }

.player-two-coin {
  background-color: red; }

.winningMessage {
  font-size: 30px;
  color: #6a0766;
  text-align: center;
  position: absolute;
  background-color: beige;
  z-index: 10000;
  bottom: 300px;
  width: auto;
  padding: 15px;
  display: none; }
  .winningMessage.on {
    display: block; }

footer {
  background-color: #0600be;
  height: 20px;
  width: 100vw; }
